.react-multi-carousel-dot-list {
    bottom: 10px;
}

.react-multi-carousel-dot--active button {
    background-color: #C27801;
}

.react-multi-carousel-dot button {
    height: 15px;
    width: 15px;
    border: 1px solid #C27801;
}